body {
  background-color: #fff;
  font-family: "Roboto";
  color: $black;
  word-wrap: break-word;
}

* {
  // transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.container {
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1200px;

  &.sm {
    max-width: 970px;

    h1 {
      font-size: 32px;
    }
  }

  &.xs {
    max-width: 770px;
  }

  &.without-header {
    padding-top: 120px;
  }
}

.mt-100 {
  margin-top: 100px;
}

.gray-card {
  background-color: #f4f7fa;
  border-radius: $radius;
  margin-bottom: 30px;
}

hr {
  margin: 40px 0;
  border: 0;
  border-top: 1px solid #ebf0f4;
}

.text-light {
  color: #9aa4ae !important;

  &:hover {
    color: #9aa4ae !important;
    text-decoration: none;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.invalid-feedback {
  display: block;
}

.wysihtml5-sandbox {
  height: 200px !important;
  border-radius: 8px !important;
}

.spinner-for-algolia {
  position: absolute;
  right: 22px;
  top: 15px;
  color: #aaa;
}

.dropdown-menu {
  transition: none;
  border: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    right: 8%;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #fff;
    position: absolute;
    right: -6px;
  }

  .submenu-item {
    color: #1a1e21;
    padding: 6px 12px 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.1s ease-out;

    &:hover {
      border: 1px solid #ffbc00;
      background-color: #fff;
    }

    .community-image {
      width: 28px;
      height: 28px;
      border-radius: $radius;
    }

    .dropdown-item-text-container {
      margin-left: 8px;

      .community-name {
        font-weight: 500;
        font-size: 14px;
      }

      .text-secondary {
        font-size: 10px;
        line-height: 12px;
        display: block;
      }

      &:focus {
        background-color: #ffbc00;
        color: #fff !important;
      }
    }
    &:focus {
      background-color: #ffbc00;
      color: #fff !important;
    }
  }

  &.to-left {
    left: auto !important;
    right: 0px !important;
    transform: none !important;
    top: 30px !important;
  }

  .spinner-for-algolia {
    position: absolute;
    right: 22px;
    top: 15px;
    color: #aaa;
  }

  a.dropdown-item {
    transition: none;

    &:active,
    &:focus {
      background-color: $yellow;
      color: #fff !important;
    }

    &.text-danger {
      &:focus {
        background-color: $red;
        color: #fff !important;
      }
    }
  }
}

.empty-state {
  padding: 65px 0;
  color: #6e7880;
  text-align: center;

  p {
    margin: 0;
    opacity: 0.6;
  }

  img {
    max-width: 160px;
    margin-bottom: 40px;
  }
}

.group.event {
  transition: none;
}

span.counter {
  display: inline-block;
  // width: 22px;
  height: 18px;
  line-height: 15px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color: $yellow;
  border-radius: $radius;
  padding: 2px 5px;
}

.nav-link {
  span.counter {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.active,
  &.active-tab {
    span.counter {
      background-color: $yellow;

      &.success {
        background-color: $green;
      }
    }
  }
}

.grecaptcha-badge {
  display: none;
}

.card {
  border: none;
  box-shadow: 0 1px 2px 0 rgba(51, 51, 51, 0.1);
}

.logo-link {
  display: block;
  margin: 50px auto 20px auto;
  width: 180px;

  img {
    width: 100%;
  }
}

.dot-seperator {
  display: inline-block;
  height: 2px;
  width: 2px;
  border-radius: 10px;
  background-color: #9aa4ae;
  margin: 0 2px 3px 2px;
}
