<div class="content">
  <div class="header">
    <div class="logo"></div>
    <div class="latest-earthquake">{{ latestEarthquake }}</div>
  </div>
  <div class="grid">
    <div class="col-12 md:col-7 filter-section">
      <div class="grid">
        <div class="col-12 label-wrapper">
          <label for="range">Date Range</label>
        </div>
        <div class="col-6">
          <p-calendar
            [(ngModel)]="startDate"
            placeholder="Start date"
            inputId="startDate"
            [showTime]="true"
            [showSeconds]="true"
          ></p-calendar>
        </div>
        <div class="col-6">
          <p-calendar
            [(ngModel)]="endDate"
            placeholder="End date"
            inputId="endDate"
            [showTime]="true"
            [showSeconds]="true"
          ></p-calendar>
        </div>
      </div>

      <div class="grid">
        <div class="col-12 label-wrapper">
          <label for="">Depth Range</label>
        </div>
        <div class="col-6">
          <p-inputNumber
            [(ngModel)]="minDepth"
            placeholder="Min Depth"
            [min]="0"
          ></p-inputNumber>
        </div>
        <div class="col-6">
          <p-inputNumber
            [(ngModel)]="maxDepth"
            placeholder="Max Depth"
            [min]="0"
          ></p-inputNumber>
        </div>
      </div>

      <div class="grid">
        <div class="col-12 label-wrapper">
          <label for="">Magnitude Range</label>
        </div>
        <div class="col-6">
          <p-inputNumber
            [(ngModel)]="minMagnitude"
            placeholder="Min Magnitude"
            [min]="0"
            [max]="10"
          ></p-inputNumber>
        </div>
        <div class="col-6">
          <p-inputNumber
            [(ngModel)]="maxMagnitude"
            placeholder="Max Magnitude"
            [min]="0"
            [max]="10"
          ></p-inputNumber>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <div class="col-12 label-wrapper">
            <label for="">Event ID</label>
          </div>
          <p-inputNumber
            [(ngModel)]="eventId"
            placeholder="Event ID"
          ></p-inputNumber>
        </div>
        <div class="col-6">
          <div class="col-12 label-wrapper">
            <label for="">Limits</label>
          </div>

          <div class="flex">
            <div class="radio-btn-wrapper">
              <p-radioButton
                name="groupname"
                value="50"
                [(ngModel)]="limit"
                inputId="limit1"
              ></p-radioButton>
              <label for="limit1">50</label>
            </div>
            <div class="radio-btn-wrapper">
              <p-radioButton
                name="groupname"
                value="100"
                [(ngModel)]="limit"
                inputId="limit2"
              ></p-radioButton>
              <label for="limit2">100</label>
            </div>

            <div class="radio-btn-wrapper">
              <p-radioButton
                name="groupname"
                value="150"
                [(ngModel)]="limit"
                inputId="limit3"
              ></p-radioButton>
              <label for="limit3">150</label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="col-12 label-wrapper">
            <label for="">Type</label>
          </div>

          <p-dropdown
            [options]="magTypes"
            [(ngModel)]="selectedType"
            optionLabel="name"
            optionValue="code"
          ></p-dropdown>
        </div>
        <div class="col-6">
          <div class="col-12 label-wrapper">
            <label for="">Order</label>
          </div>

          <p-dropdown
            [options]="options"
            [(ngModel)]="selectedOption"
            optionLabel="name"
            optionValue="code"
          ></p-dropdown>
        </div>
      </div>

      <div class="grid justify-content-end">
        <div class="col-3 flex justify-content-between">
          <button
            pButton
            pRipple
            type="button"
            label="Temizle"
            class="p-button-raised p-button-text"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            label="Filtrele"
            (click)="submit()"
          ></button>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-5 map-section">
      <div id="ol-map" class="map-container w-full h-full">
        <div class="info-popup" #info></div>
      </div>
    </div>
  </div>
  <div>
    <div class="grid justify-content-end">
      <div class="col-2 flex justify-content-end">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            [(ngModel)]="searchText"
            type="text"
            pInputText
            placeholder="Search"
          />
        </span>
      </div>
    </div>

    <p-table
      [value]="searchTable"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
      [exportHeader]="'customExportHeader'"
      ><ng-template pTemplate="caption">
        <div class="flex">
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            class="p-button-success mr-2"
            pTooltip="XLS"
            tooltipPosition="bottom"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="date">
            Date <p-sortIcon field="date"></p-sortIcon>
          </th>

          <th>Latitude</th>
          <th>Longitude</th>
          <th>Depth</th>
          <th>Type</th>
          <th>Magnitude</th>
          <th>Location</th>
          <th>EventID</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tableData>
        <tr>
          <td>{{ tableData.date }}</td>
          <td>{{ tableData.latitude }}</td>
          <td>{{ tableData.longitude }}</td>
          <td>{{ tableData.depth }}</td>
          <td>{{ tableData.type }}</td>
          <td>{{ tableData.magnitude }}</td>
          <td>{{ tableData.location }}</td>
          <td>{{ tableData.eventID }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
